* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.contentWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  max-width: 100%;
  margin: auto;
}

.uploadWrapper {
  margin-bottom: 20px;
  text-align: center;
}

.imageWrapper {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 20px;
}

.previewImage {
  max-width: 100%;
  height: auto;
  max-height: 200px;
  object-fit: contain;
  border: 2px solid #ccc;
  border-radius: 10px;
}

.btn {
  padding: 0.8rem 1.6rem;
  font-weight: 700;
  background: #fff;
  color: blueviolet;
  cursor: pointer;
  border-radius: 0.5rem;
  border: 2px solid blueviolet;
  transition: all 0.3s ease;
}

.btn:hover {
  border-color: rgb(238, 103, 238);
  box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px;
}

.comparisonContainer {
  width: 100%;
  max-width: 800px;
  height: auto;
  display: none;
}
